@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(https://images2.alphacoders.com/138/1381646.png);
    background-size: cover;
}

.box {
    position: relative;
    width: 380px;
    height: 500px;
    background: #FFB6C1;
    border-radius: 10px;
    overflow: hidden;
}

.box::before,
.box::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 500px; 
    background: linear-gradient(0deg, transparent, transparent, #7f00f7, #7f00f7, #7f00f7);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}

.box::after {
    animation-delay: -3s;
}

.border-line {
    position: absolute;
    top: 0;
    inset: 0;
}

.border-line::before,
.border-line::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 500px; 
    background: linear-gradient(0deg, transparent, transparent, #1302fc, #1302fc, #1302fc);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}

.border-line::after {
    animation-delay: -4.5s;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.box form {
    position: absolute;
    inset: 4px;
    background: #222;
    padding: 30px; 
    border-radius: 10px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.box form h2 {
    color: #fff;
    font-size: 26px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 20px; 
}

.input-box {
    position: relative;
    width: 100%; 
    margin-top: 20px;
}

.input-box input {
    position: relative;
    width: 100%;
    padding: 15px 10px; 
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    color: #23242a;
    font-size: 16px;
    letter-spacing: 1px;
    transition: 0.5s;
    z-index: 10;
}

.input-box span {
    position: absolute;
    left: 0;
    padding: 15px 0px 10px; 
    pointer-events: none;
    color: #8f8f8f;
    font-size: 16px;
    letter-spacing: 1px;
    transition: 0.5s;
    z-index: 10;
}

.input-box input:valid ~ span,
.input-box input:focus ~ span {
    color: #fff;
    font-size: 12px;
    transform: translateY(-34px);
}

.input-box i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
}

.input-box input:valid ~ i,
.input-box input:focus ~ i {
    height: 44px;
}

.imp-links {
    display: flex;
    justify-content: space-between;
    margin-top: 10px; 
}

.imp-links a {
    color: #ececec;
    font-size: 14px;
    text-decoration: none;
}

.imp-links a:hover {
    color: #fff;
}

.btn {
    width: 100%; 
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 45px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 10px;
    cursor: pointer;
    background-color: #00eeff; 
    color: #fff; 
    transition: background-color 0.3s; 
}

.btn:hover {
    background-color: #00bbcc; 
}

.btn:active {
    opacity: 0.8;
}